.score-wrapper {
    display: flex;
    width: 500px;
    margin: 20px auto 80px;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px #9b59b6;
    border-radius: 3px;
    padding: 5px 10px;
    color: #8e44ad;
}

.game-zone {
    margin: 20px auto 50px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-content: center;
}

.pixel {
    height: 33.2%;
    width: 33.2%;
}

.border-top {
    border-top: 1px solid #8e44ad;
}

.border-bottom {
    border-bottom: 1px solid #8e44ad;
}

.border-right {
    border-right: 1px solid #8e44ad;
}

.border-left {
    border-left: 1px solid #8e44ad;
}

.border-full {
    border: 1px solid #8e44ad;
}

.pixel-selected-p1 {
    background: url('./icons8-cross-480.png') #fff 50% 50% no-repeat;
    background-size: 90px;
}

.pixel-selected-p2 {
    background: url('./icons8-round-480.png') #fff 50% 50% no-repeat;
    background-size: 90px;
}

.popup-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:radial-gradient(rgba(240,240,240,0.5),rgba(220,220,220,0.9));
}

.popup-container.show {
    visibility: visible;
}

.popup-container > .popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    height: 300px;
    width: 500px;
    background: #fff;
    box-shadow: 0 0 50px 7px #ccc;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.popup-container.show > .popup-box {
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.popup-container > .popup-box > .popup-title {
    text-align: center; 
    margin-top: 80px;
}

.popup-container > .popup-box > .popup-play-again {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background: #8e44ad;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;
}

.restart-wrapper {
    text-align: center;
}

.restart {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url('./icons8-restart-500-white.png') #8e44ad 50% 50% no-repeat;
    background-size: 30px;
    border-radius: 100%; 
    cursor: pointer;
}

.restart:hover {
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}